
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/Jquery-ui/jquery-3.3.1.min.js"></script>
<link href="~/lib/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<header>
    <h1 id="MainHeader" align="center">Schedule for staff _______</h1>
</header>


<table id="scheduleTable" border="1" width="1200">
    <tr>
        <th>Days</th>
        <th colspan="4">8:00am </th>

        <th colspan="4">9:00am </th>

        <th colspan="4">10:00am</th>

        <th colspan="4">11:00am</th>

        <th colspan="4">12:00pm</th>

        <th colspan="4">1:00pm</th>

        <th colspan="4">2:00pm </th>

        <th colspan="4">3:00pm </th>

        <th colspan="4">4:00pm </th>

        <th colspan="4">5:00pm </th>

        <th colspan="4">6:00pm </th>
    </tr>


    <tr id="0_RowTable"></tr>

</table>

<div align="center">
    <p></p>
    <p></p>
    <select id='staffList'>
        <option id="">none</option>
    </select>
    <input id="datePickerTwo" value="Click to enter date" />
    <button id="selectionButton">Go to selected week</button>
    <button id="testButton">clear</button>

  
</div>



@section scripts
{
    <script src="~/lib/Jquery-ui/jquery-ui-1.12.1.js"></script>
    <script>

        $(document).ready(function () {

            //Initial table creation
            startWorkTime = 800;
            endWorkTime = 1900;

            var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

            loopTable();

            function loopTable() {

                for (j = 0; j < 7; j++) {
                i = startWorkTime;
                modulusTable = i;
                $('#' + j + '_RowTable').append('<td id="r' + j + 'days"' + '>' + days[j] + '</option>');

                for (i; i < endWorkTime; i++) {
                    if (i % modulusTable == 60) {
                        modulusTable += 100;
                        i += 39;
                    }
                    else {
                        $('#' + j + '_RowTable').append('<td id=t_' + i + '_d_' + days[j] + '>' + "&nbsp;" + '</option>');
                        i += 14;
                    }

                    k = j + 1;
                }
                $('#' + j + '_RowTable').after('<tr id="' + k + '_RowTable"></tr>')
            }
            }
            







            //to choose date
            $('#datePickerTwo').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "2019:2030",
                beforeShowDay: function (date) { return [date.getDay() == 1, ""] }

            });




           //Populate staff member list
            $.ajax({
                method: 'GET',
                url: 'https://localhost:44394/api/Staff',
                dataType: 'json'
            }).done(function (data) {
                $.map(data, function (post, j) {
                    staffName = post.name;
                    staffId = post.id;
                    $('#staffList').append("<option id=" + staffId + ">" + staffName + "</option>");       
                });
            });

                       

            $("#testButton").click(function () {
                tableClear(startWorkTime, endWorkTime, days);

                
            });          

            //button press
            $("#selectionButton").click(function () {
                //loopTable();
                //tableClear(startWorkTime, endWorkTime, days);


                var datePickerValue = $('#datePickerTwo').val();
                var staffValue = $('option:selected').attr("id");
                var staffNameSelected = $('#staffList').val();


                $('#MainHeader').replaceWith("<h1 id='MainHeader' align='center'>Schedule for staff " + staffNameSelected + "</h1>");

                    //set Table id acording to the selected date  
                    //the month, in the middle starts has minus one to correspond to the correct month
                    var mondayDate = new Date(datePickerValue);

                    //to get the sunday date
                    function addDays(date) {
                        var result = new Date(date);
                        result.setDate(result.getDate() + 7);
                        return result;
                    }

                    var sundayDate = addDays(mondayDate).toString();
                    var yearPartSundayDate = sundayDate.substr(11).slice(0, -40);
                    var dayPartSundayDate = sundayDate.substr(8).slice(0, -45);

                    var firstPartSundayDate = new Date(sundayDate);
                    var monthNumberFirstPartSundayDate = firstPartSundayDate.getMonth() + 1;

                    var sundayFullDate = new Date(yearPartSundayDate, monthNumberFirstPartSundayDate - 1, dayPartSundayDate);



                    var dayTableIdentifier = [];

                    for (var dayLoop = new Date(mondayDate); dayLoop <= sundayFullDate; dayLoop.setDate(dayLoop.getDate() + 1)) {                
                            var dayLoopToString = dayLoop.toDateString();
                            var dayPartDayLoop = dayLoopToString.substr(8).slice(0, -5);                        
                            dayTableIdentifier.push(dayPartDayLoop);                
            
                    }
                //console.log(dayTableIdentifier);             
                        
                              
                $.ajax({
                    method: 'GET',
                    url: 'https://localhost:44394/api/StaffHoursWorked/' + staffValue + '/' + datePickerValue,
                    dataType: 'json'
                }).done(function (data) {
                    $.map(data, function (post) {                  


                        //console.log(data);
                        //create the correct data needed, you have to split the data in two parts and then join them together to get rid of the colon

                        //convert the first part of the start time into an int
                        hourStart = post.startDateAndTime.substr(11).slice(0, -6);
                        intHourStart = parseInt(hourStart);

                        //convert the second part of the start time into an int

                        minuteStart = post.startDateAndTime.substr(14).slice(0, -3);
                        intMinuteStart = parseInt(minuteStart);

                        //convert the whole time into an int and get rid of colon
                        fullTime = hourStart + minuteStart;
                        intFullStartTime = parseInt(fullTime);

                        //to show the end time

                        hourEnd = post.endDateAndTime.substr(11).slice(0, -6);
                        intHourEnd = parseInt(hourEnd);

                        minuteEnd = post.endDateAndTime.substr(14).slice(0, -3);
                        intMinuteEnd = parseInt(minuteEnd);

                        fullEndTime = hourEnd + minuteEnd;
                        intFullEndTime = parseInt(fullEndTime);

                        //yearMonthDay = post.startDateAndTime.slice(0, -9);
                        DayInData = post.startDateAndTime.substr(8).slice(0, -9);


                        console.log(DayInData);

                        //case statement 
                        switch (DayInData) {
                            case dayTableIdentifier[0]:
                                //console.log("Monday has been chosen");
                                var DayName = "Monday";
                                loopDataOntoTable(intFullStartTime, intFullEndTime, intHourStart, DayName);
                                break;
                            case dayTableIdentifier[1]:
                                //console.log("Tuesday has been chosen");
                                var DayName = "Tuesday";
                                loopDataOntoTable(intFullStartTime, intFullEndTime, intHourStart, DayName);
                                break;
                            case dayTableIdentifier[2]:
                                //console.log("Wednesday has been chosen");
                                var DayName = "Wednesday";
                                loopDataOntoTable(intFullStartTime, intFullEndTime, intHourStart, DayName);
                                break;
                            case dayTableIdentifier[3]:
                                //console.log("Thursday has been chosen");
                                var DayName = "Thursday";
                                loopDataOntoTable(intFullStartTime, intFullEndTime, intHourStart, DayName);
                                break;
                            case dayTableIdentifier[4]:
                                //console.log("Friday has been chosen");
                                var DayName = "Friday";
                                loopDataOntoTable(intFullStartTime, intFullEndTime, intHourStart, DayName);
                                break;
                            case dayTableIdentifier[5]:
                                //console.log("Saturday has been chosen");
                                var DayName = "Saturday";
                                loopDataOntoTable(intFullStartTime, intFullEndTime, intHourStart, DayName);
                                break;
                            case dayTableIdentifier[6]:
                                //console.log("Sunday has been chosen");
                                var DayName = "Sunday";
                                loopDataOntoTable(intFullStartTime, intFullEndTime, intHourStart, DayName);
                                break;
                                
                        }            

                    });

                });
            //if table cell is clicked

                $('.blueScheduleTime').on('click', function () {

                    alert('You have clicked!');
                });                             

                     
            });

            //methods
            // to loop through the start time to the end time by 15 minute intervals and missing the end time

                        function loopDataOntoTable(intFullStartTimeM, intFullEndTimeM, intHourStartM, DayNameM) {

                            ModulusintFullStartTime = intHourStartM * 100;

                            for (i = intFullStartTimeM; i < intFullEndTimeM; i++) {

                                if (i % ModulusintFullStartTime == 60) {
                                    ModulusintFullStartTime += 100;
                                    i += 40;
                                    if (i == intFullEndTime) {
                                        break;
                                    }
                                    else {                                              
                                      
                                        $('#t_' + i + '_d_' + DayNameM).replaceWith("<td id=t_" + i + '_d_' + DayNameM + " bgcolor='#0000FF'></td>");
                                    }
                                }
                                else {                                    
                                    $('#t_' + i + '_d_' + DayNameM).replaceWith("<td id=t_" + i + '_d_' + DayNameM + " bgcolor='#0000FF'></td>");

                                }
                                i += 14;
                            }
                                
                        };




                        //clearing table method
                        function tableClear(intFullStartTimeM, intFullEndTimeM, DayNameM) {

                            for (j = 0; j < 7; j++) {

                                 ModulusintFullStartTime = intFullStartTimeM;

                                for (i = intFullStartTimeM; i < intFullEndTimeM; i++) {

                                    if (i % ModulusintFullStartTime == 60) {
                                        ModulusintFullStartTime += 100;
                                        i += 40;
                                        if (i == intFullEndTime) {
                                            break;
                                        }
                                        else {                                              
                                      
                                            $('#t_' + i + '_d_' + DayNameM[j]).replaceWith("<td id=t_" + i + '_d_' + DayNameM[j] + "></td>");
                                        }
                                    }
                                    else {                                    
                                        $('#t_' + i + '_d_' + DayNameM[j]).replaceWith("<td id=t_" + i + '_d_' + DayNameM[j] + "></td>");

                                    }
                                    i += 14;
                                }
                            }                         
                                
                        };

            
        });



    </script>
}

