
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/StyleSheetTemplate.css" rel="stylesheet" />

<h1 align="center">day schedule</h1>
<br />

<div align="right">
    <input id="dayButton" class="disabled " type="button" value="Day" />
    <input id="WeekButton" type="button" onclick="location.href='https://localhost:44394/StaffHoursWorked/Week';" value="Week" />
    <input id="MonthButton" type="button" onclick="location.href='https://localhost:44394/StaffHoursWorked/Month';" value="Month" />
    <input id="IndividualButton" type="button" onclick="location.href='https://localhost:44394/StaffHoursWorked/Individual';" value="Individual" />
</div>

<table id="scheduleTable" border="1" width="1200">
    <tr>
        <th width="10">Staff</th>
        <th colspan="60" width="5">8:00am </th>

        <th colspan="60">9:00am </th>

        <th colspan="60">10:00am</th>

        <th colspan="60">11:00am</th>

        <th colspan="60">12:00pm</th>

        <th colspan="60">1:00pm</th>

        <th colspan="60">2:00pm </th>

        <th colspan="60">3:00pm </th>

        <th colspan="60">4:00pm </th>

        <th colspan="60">5:00pm </th>

        <th colspan="60">6:00pm </th>

     

        <th>Hours</th>
    </tr>


    <tr id="0_RowTable"></tr>



</table>

@section scripts
{
    <script src="~/lib/Jquery-ui/jquery-ui-1.12.1.js"></script>
    <script src="~/js/templateTable.js"></script>
    <script>


        $(document).ready(function () {         
                    






            



            $.ajax({
                method: 'GET',
                url: 'https://localhost:44394/api/StaffHoursWorked/2019-09-09',
                dataType: 'json'
            }).done(function (data) {
                //get only unique staff id, ignore duplicate staffid
                const array = data,
                    uniqueStaffId = [...new Set(array.map(a => a.staffId))]; 

                loopDayTabletest(uniqueStaffId);

                testLoop(uniqueStaffId);
                $.map(data, function (post, dataLoop) {
                    staffidhold = post.staffId;

                                           
                })
            });
        




                    
           

                       


        });



    </script>
}