
@{
    ViewData["Title"] = "Month";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/StyleSheetTemplate.css" rel="stylesheet" />

<h2>Month</h2>

<div align="right">
    <input id="dayButton" type="button" onclick="location.href='https://localhost:44394/StaffHoursWorked';" value="Day" />
    <input id="WeekButton" type="button" onclick="location.href='https://localhost:44394/StaffHoursWorked/Week';" value="Week" />
    <input id="MonthButton" class="disabled" type="button" value="Month" />
    <input id="IndividualButton" type="button" onclick="location.href='https://localhost:44394/StaffHoursWorked/Individual';" value="Individual" />
</div>
