
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/Jquery-ui/jquery-3.3.1.min.js"></script>
<link href="~/lib/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/StyleSheetTemplate.css" rel="stylesheet" />
<h2>Test</h2>





<table id="scheduleTable" border="1" width="1200">
    <tr>

        <th colspan="60">8:00am </th>

        <th colspan="60">9:00am </th>

        <th colspan="60">10:00am</th>

        <th colspan="60">11:00am</th>

        <th colspan="60">12:00pm</th>

        <th colspan="60">1:00pm</th>

        <th colspan="60">2:00pm </th>

        <th colspan="60">3:00pm </th>

        <th colspan="60">4:00pm </th>

        <th colspan="60">5:00pm </th>

        <th colspan="60">6:00pm </th>


    </tr>
    <tr id="0_RowTable"></tr>


</table>

    @section scripts
{
        <script src="~/lib/Jquery-ui/jquery-ui-1.12.1.js"></script>


        <script>
                loopDayTable();




        </script>
    }
