
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/Jquery-ui/jquery-3.3.1.min.js"></script>
<link href="~/lib/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<h2>Test</h2>

<table id="scheduleTable" border="1" width="1200">
    <tr>
        <th>Days</th>
        <th>1 </th>
        <th>2 </th>

    </tr>


    <tr id="0_RowTable"></tr>

</table>

<button id="testButton">Test</button>


@section scripts
{
    <script src="~/lib/Jquery-ui/jquery-ui-1.12.1.js"></script>


    <script>
        $(document).ready(function () {
            //console.log("test"); 


            loopTable();


            $("#testButton").click(function () {
                clearTable();
                
            });






            function loopTable() {

                for (j = 0; j < 3; j++) {                

                    for (i = 0; i < 3; i++) {        
                        console.log("<td id='t_" + i + "' bgcolor='#0000FF'></td>");
                            $('#' + j + '_RowTable').append("<td id='t_" + i + "' bgcolor='#0000FF'>&nbsp;</td>");                       
                    }

                k = j + 1;
                $('#' + j + '_RowTable').after('<tr id="' + k + '_RowTable"></tr>')
                }

            }



            function clearTable() {

                for (j = 0; j < 3; j++) {                

                    for (i = 0; i < 3; i++) {                   
                            $('#' + j + '_RowTable').replaceWith('<td id=t_' + i + '>' + "&nbsp;" + '</td>');                       
                    }

                k = j + 1;
                $('#' + j + '_RowTable').after('<tr id="' + k + '_RowTable"></tr>')
                }

            }


        });

    </script>
}